<% provide(:title, 'Home') %>
      <% if !user_signed_in? %>
      <div class="row">
        <div class="span12">
          <div class="center hero-unit">
            <h1>Welcome to the ADS project</h1>
            <h2>sign up if you don't have an account</h2>
            <%= link_to "Sign up", new_user_registration_path , class: "btn btn-large btn-primary" %>
          </div>
        </div>
      </div>
      <% end %>

      <% @ads.each do |ad| %>
<%= render ad %>
      <% end %>
      <%= will_paginate @ads %>
