<tr>
  <td><%= link_to user.name, user %></td>
  <td>
    <%= link_to "delete", user, method: :delete,
                                data: { confirm: "You sure?" },
                                class: 'btn btn-mini btn-danger pull-right' %>
  </td>
</tr>
