@import "bootstrap";

body {
  padding-top: 10px;
}

h1 {
  text-align: center;
}

pre {
  margin-top: 15px;
}

.center {
  text-align: center;
}

.navbar .brand {
  color: #fff;
}

.hero-unit h1 {
  font-size: 40px;
}

.hero-unit .btn-large {
  font-size: 30px;
  font-weight: bold;
  margin-top: 15px;
}

.form-horizontal {

}
