@import "bootstrap";

body {
  padding-top: 60px;
}

h1 {
  text-align: center;
}

pre {
  margin-top: 15px;
}

.center {
  text-align: center;
}

.navbar .brand {
  color: #fff;
}

.hero-unit {
  margin-bottom: 20px;
}

.hero-unit h1 {
  font-size: 40px;
}

.hero-unit .btn-large {
  font-size: 30px;
  font-weight: bold;
  margin-top: 15px;
}

.footer {
  border-top: 1px solid #e5e5e5;
  margin-top: 0;
  padding: 35px 0 36px;

  p {
    color: #555555;
    margin-bottom: 0;
  }
}

.navbar .brand {
  font-weight: bold;
}
